# prod dependencies should be listed in setup.py
# dev and test should be listed in their respective files in the requirements directory
-r ./requirements/prod.txt
-r ./requirements/dev.txt
apache-airflow[kubernetes,postgres]
